<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All lists</title>
</head>
<body>
    <h1>All Lists</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Shop</th>
            </tr>
        </thead>
        <tbody>
            <% for(let list of lists) { %> 
                <tr>
                    <td><a href="/lists/<%= list.id %> "><%= list.name %></a></td>
                    <td><%= list.createdAt.toLocaleDateString() %> </td>
                    <td><%= list.updatedAt.toLocaleDateString() %> </td>
                    <td><%= list.shop.name %> </td>
                </tr>
            <% } %> 
        </tbody>
    </table>

    <a href="/lists/new">New List</a>
    
</body>
</html>