<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= list.name %> </title>
</head>
<body>
    <h1><%= list.name %></h1>
    <a href="/lists/<%= list._id %>/edit">Edit List</a>
    <a href="/lists/<%= list._id %>/items/new">Add Item</a>
    <ul>
        
        <% for(let i = 0; i < list.items.length; i ++) { %> 
            <li>
                <a href="/items/<%= list.items[i].id %>"><%= list.items[i].name %></a> - quantity: <%= list.items[i].quantity %>
            </li>
        <% } %>
        

    </ul>

    <a href="/lists">Home</a>
</body>
</html>